{% extends 'base.html' %}
{% block plot %} 

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}
{% block content %} 
    <div class="jumbotron">
        <h3>
        Total Investment Gains: {{content['total_investment_gains']}}
        <br>
        Future Value of Investments: {{content['future_value']}}
        <br>
        Present Value Value of Investments: {{content['present_value']}}
        <br>
        Interval: {{content['interval']}}
        </h3>
        <div id='chart' class='chart'”></div>
    </div>



{% endblock %}